{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}
<style>
    .dashboard #content {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #main > .content {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main {
        margin-top: 20px;
    }
    #main > .content > #content {
        width: 80%;
    }
    .messagelist {
        margin: 0 auto;
        width: 80%;
        padding: 20px;
    }
    .colMS {
        margin: 0;
    }
</style>
<link rel='stylesheet' type='text/css' href="{% static "colors.css" %}">

{% endblock %}

{% block content_title %}
<h1>Staff Passawards</h1>
{% endblock content_title %}